# Making initial dataset about Berlin Boroughs and Neigborhoods

Data about Neigborhoods, Boroughs, Population and Prices are collected from various Internet sources. Population and Prices data are from 2016. Prices are max rent prices of office space in Berlin by Borough.

In [1]:
import pandas as pd

In [2]:
Neigborhoods = ['Mitte', 'Moabit', 'Hansaviertel', 'Tiergarten', 'Wedding', 'Gesundbrunnen', 'Friedrichshain', 'Kreuzberg', 'Prenzlauer Berg', 'Weißensee', 'Blankenburg', 'Heinersdorf', 
'Karow', 'Stadtrandsiedlung Malchow' , 'Pankow', 'Blankenfelde', 'Buch', 'Französisch Buchholz', 'Niederschönhausen', 'Rosenthal', 'Wilhelmsruh', 'Charlottenburg', 'Wilmersdorf', 'Schmargendorf', 
'Grunewald', 'Westend', 'Charlottenburg-Nord', 'Halensee', 'Spandau', 'Haselhorst', 'Siemensstadt', 'Staaken', 'Gatow', 'Kladow', 'Hakenfelde', 'Falkenhagener Feld', 'Wilhelmstadt', 'Steglitz', 
'Lichterfelde', 'Lankwitz', 'Zehlendorf', 'Dahlem', 'Nikolassee', 'Wannsee', 'Schöneberg', 'Friedenau', 'Tempelhof', 'Mariendorf', 'Marienfelde', 'Lichtenrade', 'Neukölln', 'Britz', 'Buckow', 'Rudow', 'Gropiusstadt', 
'Alt-Treptow', 'Plänterwald', 'Baumschulenweg', 'Johannisthal', 'Niederschöneweide', 'Altglienicke', 'Adlershof', 'Bohnsdorf', 'Oberschöneweide', 'Köpenick', 'Friedrichshagen', 'Rahnsdorf', 
'Grünau', 'Müggelheim', 'Schmöckwitz', 'Marzahn', 'Biesdorf', 'Kaulsdorf', 'Mahlsdorf', 'Hellersdorf', 'Friedrichsfelde', 'Karlshorst', 'Lichtenberg', 'Falkenberg', 'Malchow', 'Wartenberg', 
'Neu-Hohenschönhausen', 'Alt-Hohenschönhausen', 'Fennpfuhl', 'Rummelsburg', 'Reinickendorf', 'Tegel', 'Konradshöhe', 'Heiligensee', 'Frohnau', 'Hermsdorf', 'Waidmannslust', 'Lübars', 
'Wittenau', 'Märkisches Viertel', 'Borsigwalde']

In [3]:
Boroughs = ['Mitte', 'Mitte', 'Mitte', 'Mitte', 'Mitte', 'Mitte', 'Friedrichshain-Kreuzberg', 'Friedrichshain-Kreuzberg', 'Pankow', 'Pankow', 'Pankow', 'Pankow', 'Pankow', 'Pankow', 'Pankow', 
            'Pankow', 'Pankow', 'Pankow', 'Pankow', 'Pankow', 'Pankow', 'Charlottenburg-Wilmersdorf', 'Charlottenburg-Wilmersdorf', 'Charlottenburg-Wilmersdorf', 'Charlottenburg-Wilmersdorf', 'Charlottenburg-Wilmersdorf',
            'Charlottenburg-Wilmersdorf', 'Charlottenburg-Wilmersdorf', 'Spandau', 'Spandau', 'Spandau', 'Spandau', 'Spandau', 'Spandau', 'Spandau', 'Spandau', 'Spandau','Steglitz-Zehlendorf', 
            'Steglitz-Zehlendorf', 'Steglitz-Zehlendorf', 'Steglitz-Zehlendorf', 'Steglitz-Zehlendorf', 'Steglitz-Zehlendorf', 'Steglitz-Zehlendorf', 'Tempelhof-Schöneberg', 
            'Tempelhof-Schöneberg', 'Tempelhof-Schöneberg', 'Tempelhof-Schöneberg', 'Tempelhof-Schöneberg', 'Tempelhof-Schöneberg', 'Neukölln', 'Neukölln', 'Neukölln', 'Neukölln', 'Neukölln', 
            'Treptow-Köpenick', 'Treptow-Köpenick', 'Treptow-Köpenick', 'Treptow-Köpenick', 'Treptow-Köpenick', 'Treptow-Köpenick', 'Treptow-Köpenick', 'Treptow-Köpenick', 'Treptow-Köpenick', 'Treptow-Köpenick', 
            'Treptow-Köpenick', 'Treptow-Köpenick', 'Treptow-Köpenick', 'Treptow-Köpenick', 'Treptow-Köpenick',  'Marzahn-Hellersdorf', 'Marzahn-Hellersdorf', 'Marzahn-Hellersdorf', 'Marzahn-Hellersdorf', 'Marzahn-Hellersdorf', 
            'Lichtenberg',  'Lichtenberg', 'Lichtenberg', 'Lichtenberg', 'Lichtenberg', 'Lichtenberg', 'Lichtenberg', 'Lichtenberg', 'Lichtenberg', 'Lichtenberg', 
            'Reinickendorf', 'Reinickendorf', 'Reinickendorf', 'Reinickendorf', 'Reinickendorf', 'Reinickendorf', 'Reinickendorf', 'Reinickendorf', 'Reinickendorf', 'Reinickendorf', 'Reinickendorf']

In [4]:
Population = [79582, 69425, 5889, 12486, 76363, 82729, 114050, 147227, 142319, 45485, 
6550, 6580, 18258, 1166, 55854, 1917, 13188, 18766, 26903, 8933, 7216, 118704, 92815, 
19750, 10014, 37883, 17327, 13966, 33433, 13668, 11388, 41470, 3908, 13628, 26337, 
34778, 37080, 70555, 78338, 40385, 57902, 14966, 15899, 9044, 116743, 26736, 54382, 
48882, 30151, 49451, 154127, 38334, 38018, 41040, 35884, 10426, 10618, 16780, 17650,
10043, 26101, 15112, 10751, 17094, 59201, 17285, 8891, 5482, 6350, 4117, 102398, 
24543, 18732, 26852, 72602, 50010, 21329, 32295, 1164, 450, 2433, 53698, 41780, 
30932, 17567, 72859, 33417, 5997, 17641, 17025, 16503, 10022, 4915, 22696, 35206, 6432]

In [5]:
Prices = [22, 22, 22, 22, 22, 22, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 22, 22, 22, 22, 22, 22, 22, 11, 11, 11, 11, 11, 11, 11, 11, 11, 
13, 13, 13, 13, 13, 13, 13, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 
10, 10, 10, 10, 10, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 8.5, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [8]:
berlin_data = pd.DataFrame({'Borough': Boroughs, 'Neigborhood': Neigborhoods,
                            'Population': Population, 'Price(eur/m2)': Prices})
berlin_data.head(10)

                    Borough      Neigborhood  Population  Price(eur/m2)
0                     Mitte            Mitte       79582           22.0
1                     Mitte           Moabit       69425           22.0
2                     Mitte     Hansaviertel        5889           22.0
3                     Mitte       Tiergarten       12486           22.0
4                     Mitte          Wedding       76363           22.0
5                     Mitte    Gesundbrunnen       82729           22.0
6  Friedrichshain-Kreuzberg   Friedrichshain      114050           16.0
7  Friedrichshain-Kreuzberg        Kreuzberg      147227           16.0
8                    Pankow  Prenzlauer Berg      142319           16.0
9                    Pankow        Weißensee       45485           16.0

In [9]:
!pip install  geopy 
from geopy.geocoders import Nominatim

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/f3/b4/c8842fc6a07fc95d6887370768850885382b47bf52f5cd8b6a4ae1b6f4d9/geopy-1.17.0-py2.py3-none-any.whl (92kB)
    100% |████████████████████████████████| 92kB 4.0MB/s
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/5b/ac/4f348828091490d77899bc74e92238e2b55c59392f21948f296e94e50e2b/geographiclib-1.49.tar.gz
Building wheels for collected packages: geographiclib
  Running setup.py bdist_wheel for geographiclib ... done
  Stored in directory: /root/.cache/pip/wheels/99/45/d1/14954797e2a976083182c2e7da9b4e924509e59b6e5c661061
Successfully built geographiclib
menpo 0.8.1 has requirement matplotlib<2.0,>=1.4, but you'll have matplotlib 2.2.3 which is incompatible.
menpo 0.8.1 has requirement pillow<5.0,>=3.0, but you'll have pillow 5.2.0 which is incompatible.
menpo 0.8.1 has requirement scipy<1.0,>=0.16, but you'll have scipy 1.1.0 which is incompatible.
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.49 geopy-1.17.0
You are using pip version 10.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [10]:
address = 'Berlin, Germany'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Berlin are {}, {}.'.format(latitude, longitude))

/usr/local/lib/python3.6/site-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

The geograpical coordinate of Berlin are 52.5170365, 13.3888599.

In [12]:
latitude = []
longitude = []
for index, row in berlin_data.iterrows():
    address = '{}, {}, Berlin, Germany'. format(row["Neigborhood"], row["Borough"])
    location = geolocator.geocode(address)
    latitude.append(location.latitude)
    longitude.append(location.longitude)

print ('Done!')

print('Latitudes: ')
print(latitude)
print('Longitudes: ')
print(longitude)

Done!
Latitudes:
[52.5176896, 52.5301017, 52.5191234, 52.5097776, 52.550123, 52.5509201, 52.5122154, 52.4976443, 52.5398466, 52.5546193, 52.593211, 52.5728248, 52.6150868, 52.5710194, 52.5660169, 52.6186272, 52.6366724, 52.6105131, 52.5858062, 52.5983189, 52.5880115, 52.515747, 52.4871152, 52.4789022, 52.4873475, 52.5133992, 52.5405253, 52.4972262, 52.535788, 52.5413233, 52.5398082, 52.5322705, 52.4856409, 52.4602925, 52.5609908, 52.5524034, 52.5139207, 52.4572569, 52.437293, 52.4336977, 52.4343217, 52.4573805, 52.4262495, 52.4211482, 52.482157, 52.472075, 52.4632921, 52.44008, 52.4125766, 52.3934559, 52.4811497, 52.4483324, 52.4186619, 52.4146801, 52.4249493, 52.4925634, 52.4795439, 52.4616938, 52.4459114, 52.4548197, 52.4118382, 52.4378932, 52.4022426, 52.4624563, 52.4539099, 52.4493804, 52.4353129, 52.4154272, 52.4121651, 52.3756651, 52.5429481, 52.5090006, 52.5082934, 52.5060776, 52.5368537, 52.5029358, 52.4837034, 52.5196723, 52.5692998, 52.5798667, 52.5743651, 52.5663309, 52.5493816, 52.5287849, 52.5013696, 52.5711856, 52.5873891, 52.5856837, 52.6122549, 52.6323917, 52.6183341, 52.60599315, 52.6146467, 52.5912366, 52.5993123, 52.5840624]
Longitudes:
[13.4023757, 13.3425422, 13.3418725, 13.3572597, 13.34197, 13.384846, 13.4502904, 13.411914, 13.4285652, 13.4630018, 13.4541825, 13.4370149, 13.4862758, 13.4632849, 13.4030903, 13.3884468, 13.4999292, 13.4281104, 13.401397, 13.3755194, 13.3622059, 13.3096834, 13.3203298, 13.2929962, 13.2637538, 13.2558416, 13.2962663, 13.2929986, 13.1977924, 13.231156, 13.2568934, 13.1433666, 13.1801341, 13.1400517, 13.1967693, 13.1668941, 13.1914518, 13.3222865, 13.3138645, 13.3454858, 13.2589298, 13.2810976, 13.1981446, 13.1589374, 13.3551901, 13.3296424, 13.3864477, 13.3900277, 13.3665916, 13.4020397, 13.4353501, 13.4423401, 13.4289504, 13.4986183, 13.466183, 13.4598743, 13.4788076, 13.4815479, 13.504547, 13.5178766, 13.5426461, 13.5475496, 13.5706649, 13.5234762, 13.5764126, 13.6262724, 13.7003862, 13.5805633, 13.6619543, 13.6488551, 13.563142, 13.555909, 13.5806682, 13.6118588, 13.6047745, 13.5205456, 13.5233553, 13.4950457, 13.5400296, 13.4820928, 13.5191298, 13.514065, 13.5046734, 13.4734687, 13.4835143, 13.3455963, 13.2790461, 13.2231978, 13.2295789, 13.2878663, 13.3110313, 13.3210460691062, 13.3530197, 13.3233195, 13.3565324, 13.3022741]

In [13]:
berlin_data['Latitude'] = latitude
berlin_data['Longitude'] = longitude
berlin_data.head()

  Borough   Neigborhood  Population  Price(eur/m2)   Latitude  Longitude
0   Mitte         Mitte       79582           22.0  52.517690  13.402376
1   Mitte        Moabit       69425           22.0  52.530102  13.342542
2   Mitte  Hansaviertel        5889           22.0  52.519123  13.341872
3   Mitte    Tiergarten       12486           22.0  52.509778  13.357260
4   Mitte       Wedding       76363           22.0  52.550123  13.341970

In [14]:
berlin_data.head(20)

,Borough,Neigborhood,Population,Price(eur/m2),Latitude,Longitude
0,Mitte,Mitte,79582,22.0,52.517690,13.402376
1,Mitte,Moabit,69425,22.0,52.530102,13.342542
2,Mitte,Hansaviertel,5889,22.0,52.519123,13.341872
3,Mitte,Tiergarten,12486,22.0,52.509778,13.357260
4,Mitte,Wedding,76363,22.0,52.550123,13.341970
5,Mitte,Gesundbrunnen,82729,22.0,52.550920,13.384846
6,Friedrichshain-Kreuzberg,Friedrichshain,114050,16.0,52.512215,13.450290
7,Friedrichshain-Kreuzberg,Kreuzberg,147227,16.0,52.497644,13.411914
8,Pankow,Prenzlauer Berg,142319,16.0,52.539847,13.428565
9,Pankow,Weißensee,45485,16.0,52.554619,13.463002
10,Pankow,Blankenburg,6550,16.0,52.593211,13.454182
11,Pankow,Heinersdorf,6580,16.0,52.572825,13.437015
12,Pankow,Karow,18258,16.0,52.615087,13.486276
13,Pankow,Stadtrandsiedlung Malchow,1166,16.0,52.571019,13.463285
14,Pankow,Pankow,55854,16.0,52.566017,13.403090
15,Pankow,Blankenfelde,1917,16.0,52.618627,13.388447
16,Pankow,Buch,13188,16.0,52.636672,13.499929
17,Pankow,Französisch Buchholz,18766,16.0,52.610513,13.428110
18,Pankow,Niederschönhausen,26903,16.0,52.585806,13.401397
19,Pankow,Rosenthal,8933,16.0,52.598319,13.375519

In [15]:
berlin_data.to_csv('berlin.csv')